@import 'config';

.App {
  background-color: $background-colour;
  min-height: 100vh;
  color: $white
}

.mainContent {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.header {
  height: 96px;
  background-color: $header-colour;
  border-bottom: 2px solid $white;
  text-align:center;
  display: flex;

  h1 {
    margin: auto;
    text-transform: capitalize;
  }

  svg {
    color: $white;
    cursor: pointer;
  }
}

.footer {
  background-color: $header-colour;
  a {
  color: $light-gray;
  }
  a:hover {
  color: $white;
  }
  a.active {
  color: $white;
  }
  .bottom-tab-label {
    font-size: 12px;
    font-weight:bold;
  }
}

%padded-content {
  margin-right: 10px;
  margin-left: 10px;
}

.content {
  @extend %padded-content;
  div {
    margin:auto;
    max-width: 1000px;
    margin-top: 12px;
    img {
      width: 100%;
      height: 100%
    } 
  }
}

.offerPage {
  text-align: center;
  p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
  }
  img {
    width: 100%;
    margin-bottom: 30px;
    max-width: 1500px;
  }
  h5 {
    font-weight: bold;
  }
}

.spinner {
  border: 4px solid $spinner-gray;
  border-radius: 50%;
  border-top-color: $white;
  margin: auto;
  width: 50px;
  height: 50px;
  animation: rotate-spinner 1s linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}

